.header {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 999;
}

.header img {
    height: 100px;
}

.mainVisual .itm {

    height: 600px;
}

.mainVisual .section .tit {
    font-size: 50px;
    margin: 10px 10px 10px 0;
}

.mainSlide {
    top: 250px;

}

.mainVisual .itm01 {
    height: 500px;
    background: url(../images/pang01.jpg) no-repeat center;
}

.mainVisual .itm02 {
    height: 500px;
    background: url(../images/pang02.jpg) no-repeat center;
}

.mainVisual .itm03 {
    height: 500px;
    background: url(../images/pang03.jpg) no-repeat center;
}

.mainVisual .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .slick-dots>li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(3, 3, 3, 0.4);
    margin: 0 2px;
}

.mainVisual .slick-dots li::after {
    content: "";
}

.mainVisual .slick-dots li.slick-active {
    background: rgba(27, 94, 170, 0.8);
}

.mainVisual .slick-dots>li button {
    display: none;
}